<div class="contentwrapper"><!--Content wrapper-->
     <div class="heading">

        <h3>Em Jogo</h3>                    

        <div class="resBtnSearch">
            <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
        </div>

        <!-- End search -->
        
        <ul class="breadcrumb">
            <li>Você está:</li>
            <li>
                <a href="#" class="tip" oldtitle="back to dashboard" title="" data-hasqtip="true">
                    <span class="icon16 icomoon-icon-screen-2"></span>
                </a> 
                <span class="divider">
                    <span class="icon16 icomoon-icon-arrow-right-3"></span>
                </span>
            </li>
            <li class="active">Jogando</li>
        </ul>

    </div>          
    <!-- Build page from here: -->
    <div class="row">
         
        <div class="col-lg-4">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16  icomoon-icon-gun"></span>
                        <span>Objetivo</span>
                    </h4>

                </div>
                <div class="panel-body">
                    <p>O objetivo principal do doBanks é ganhar dinheiro e administrar seus bancos, investindo em segurança para cada vez mais conquistar novos clientes. </p>

                    <p><strong>Ganhar Dinheiro</strong></p>

                    <p>Ao Inciar o jogo, sua conta bancária e sua carteira vai estar zerada. Os primeiros passos para ganhar dinheiro é assaltar pequenos comércios como bancas de jornais, padarias, docerias entre outros. Ao começar ganhar dinheiro você comprar assessórios na loja de equipamentos para desbloquear os sistemas
                    de segurança dos comércios.</p>

                    <p><strong>Administre seus Bancos</strong></p>

                    <p>Cada jogador ao completar um assalto, recebe um determinado nível de alerta para polícia. Se a polícia pegar você com dinheiro na carteira, perderá tudo. Logo é recomendo abrir uma conta em algum banco e depositar seu dinheiro.</p>

                    <p>Todos os Bancos são propriedade de cada jogador, logo você também poderá comprar :-). Cada banco cobrar um tarifa de 0,5 ao mês do valor total para administrar o dinheiro dos seus clientes.</p>

                    <p><strong>Investindo em segurança para conquistar novos clientes</strong></p>

                    <p>No banco que você tem conta, seu dinheiro poderá ser roubado, caso alguma gang ou assaltante quebre todo sistema de segurança. Logo para os donos dos bancos ganharem mais dinheiro e clientes, eles precisam investir cada vez mais em sistemas de segurança, para garantir que não seja roubados.</p>


                </div>

            </div>
        </div><!-- End .span8 -->

        <div class="col-lg-4">

        <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16  icomoon-icon-gun"></span>
                        <span>Dicas</span>
                    </h4>

                </div>
                <div class="panel-body">
                   - Comece roubando pequenos comércios  sem sistema de segurança como padaria, bancas e docerias.
                </div>
            </div>
         </div>

        <div class="col-lg-4">

           <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16  wpzoom-mobile"></span>
                        <span>Alvo</span>
                    </h4>

                </div>
                <div class="panel-body">
                <form class="form-horizontal" action="#">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <select name="select" id="select1" class="nostyle form-control" placeholder="Selecione o local do roubo" >
                                <option ></option>
                               <optgroup label="Sem segurança">
                                   <option value="padaria">Padaria</option>
                                   <option value="HI">Hawaii</option>
                               </optgroup>
                               <optgroup label="Segurança nivel 1">
                                   <option value="CA">California</option>
                                   <option value="NV">Nevada</option>
                                   <option value="OR">Oregon</option>
                                   <option value="WA">Washington</option>
                               </optgroup>
                               <optgroup label="Mountain Time Zone">
                                   <option value="AZ">Arizona</option>
                                   <option value="CO">Colorado</option>
                                   <option value="ID">Idaho</option>
                                   <option value="MT">Montana</option><option value="NE">Nebraska</option>
                                   <option value="NM">New Mexico</option>
                                   <option value="ND">North Dakota</option>
                                   <option value="UT">Utah</option>
                                   <option value="WY">Wyoming</option>
                               </optgroup>
                               <optgroup label="Central Time Zone">
                                   <option value="AL">Alabama</option>
                                   <option value="AR">Arkansas</option>
                                   <option value="IL">Illinois</option>
                                   <option value="IA">Iowa</option>
                                   <option value="KS">Kansas</option>
                                   <option value="KY">Kentucky</option>
                                   <option value="LA">Louisiana</option>
                                   <option value="MN">Minnesota</option>
                                   <option value="MS">Mississippi</option>
                                   <option value="MO">Missouri</option>
                                   <option value="OK">Oklahoma</option>
                                   <option value="SD">South Dakota</option>
                                   <option value="TX">Texas</option>
                                   <option value="TN">Tennessee</option>
                                   <option value="WI">Wisconsin</option>
                               </optgroup>
                               <optgroup label="Eastern Time Zone">
                                   <option value="CT">Connecticut</option>
                                   <option value="DE">Delaware</option>
                                   <option value="FL">Florida</option>
                                   <option value="GA">Georgia</option>
                                   <option value="IN">Indiana</option>
                                   <option value="ME">Maine</option>
                                   <option value="MD">Maryland</option>
                                   <option value="MA">Massachusetts</option>
                                   <option value="MI">Michigan</option>
                                   <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
                                   <option value="NY">New York</option>
                                   <option value="NC">North Carolina</option>
                                   <option value="OH">Ohio</option>
                                   <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
                                   <option value="VT">Vermont</option><option value="VA">Virginia</option>
                                   <option value="WV">West Virginia</option>
                               </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        
                            <div class="col-lg-6" id="placeId" >

                            </div>
                            <div class="col-lg-6">
                                <form class="form-horizontal" action="/dashboard/assalto" method="post">
                                    <div class="form-group">
                                    <button type="submit" class="btn btn-info"><i class="icon16 icomoon-icon-gun white"></i>Assaltar</button>
                                    </div>
                                </form>
                            </div>
                       
                    </div>
                    </form>      
                </div>

            </div>

        </div>

        <!-- End .span4 -->

    </div><!-- End .row -->

    
</div>