<div class="contentwrapper"><!--Content wrapper-->
                
    <!-- Build page from here: -->
    <div class="row">
         <div class="col-lg-4">
         </div>
        <div class="col-lg-4">
            <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4>
                            <span class="icon16  icomoon-icon-gun"></span>
                            <span>Dash</span>
                        </h4>

                    </div>
                    <div class="panel-body">
                        Você está no dash
                    </div>

                </div>
        </div><!-- End .span8 -->

        <div class="col-lg-4">
         </div>

        <!-- End .span4 -->

    </div><!-- End .row -->

    
</div>