<div class="contentwrapper"><!--Content wrapper-->
     <div class="heading">

        <h3>Em Jogo</h3>                    

        <div class="resBtnSearch">
            <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
        </div>

        <!-- End search -->
        
        <ul class="breadcrumb">
            <li>Você está:</li>
            <li>
                <a href="#" class="tip" oldtitle="back to dashboard" title="" data-hasqtip="true">
                    <span class="icon16 icomoon-icon-screen-2"></span>
                </a> 
                <span class="divider">
                    <span class="icon16 icomoon-icon-arrow-right-3"></span>
                </span>
            </li>
            <li class="active">Jogando</li>
        </ul>

    </div>          
    <!-- Build page from here: -->
    <div class="row">
         
        <div class="col-lg-4">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16  icomoon-icon-gun"></span>
                        <span>Objetivo</span>
                    </h4>

                </div>
                <div class="panel-body">
                    <p>O objetivo principal do doBanks é ganhar dinheiro e administrar seus bancos, investindo em segurança para cada vez mais conquistar novos clientes. </p>

                    <p><strong>Ganhar Dinheiro</strong></p>

                    <p>Ao Inciar o jogo, sua conta bancária e sua carteira vai estar zerada. Os primeiros passos para ganhar dinheiro é assaltar pequenos comércios como bancas de jornais, padarias, docerias entre outros. Ao começar ganhar dinheiro você comprar assessórios na loja de equipamentos para desbloquear os sistemas
                    de segurança dos comércios.</p>

                    <p><strong>Administre seus Bancos</strong></p>

                    <p>Cada jogador ao completar um assalto, recebe um determinado nível de alerta para polícia. Se a polícia pegar você com dinheiro na carteira, perderá tudo. Logo é recomendo abrir uma conta em algum banco e depositar seu dinheiro.</p>

                    <p>Todos os Bancos são propriedade de cada jogador, logo você também poderá comprar :-). Cada banco cobrar um tarifa de 0,5 ao mês do valor total para administrar o dinheiro dos seus clientes.</p>

                    <p><strong>Investindo em segurança para conquistar novos clientes</strong></p>

                    <p>No banco que você tem conta, seu dinheiro poderá ser roubado, caso alguma gang ou assaltante quebre todo sistema de segurança. Logo para os donos dos bancos ganharem mais dinheiro e clientes, eles precisam investir cada vez mais em sistemas de segurança, para garantir que não seja roubados.</p>


                </div>

            </div>
        </div><!-- End .span8 -->

        <div class="col-lg-4">

        <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16  icomoon-icon-gun"></span>
                        <span>Dicas</span>
                    </h4>

                </div>
                <div class="panel-body">
                   - Comece roubando pequenos comércios  sem sistema de segurança como padaria, bancas e docerias.
                </div>
            </div>
         </div>

        <div class="col-lg-4">

           <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16  wpzoom-mobile"></span>
                        <span>Meu Smartphone roubado</span>
                    </h4>

                </div>
                <div class="panel-body">
                    Você está no dash
                </div>

            </div>

        </div>

        <!-- End .span4 -->

    </div><!-- End .row -->

    
</div>