<div class="contentwrapper"><!--Content wrapper-->
     <div class="heading">

        <h3>Viajando para o assalto</h3>                    

        <div class="resBtnSearch">
            <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
        </div>

        <!-- End search -->
        
        <ul class="breadcrumb">
            <li>Você está:</li>
            <li>
                <a href="#" class="tip" oldtitle="back to dashboard" title="" data-hasqtip="true">
                    <span class="icon16  icomoon-icon-home"></span>
                </a> 
                <span class="divider">
                    <span class="icon16 icomoon-icon-arrow-right-3"></span>
                </span>
            </li>
            <li class="active">Em algum banco</li>
        </ul>

    </div>          
    <!-- Build page from here: -->
    <div class="row">
         
        <div class="col-lg-4">

            
         </div>

        <div class="col-lg-4">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16   icomoon-icon-bubble-4"></span>
                        <span>Tempo para chegar e assaltar</span>
                    </h4>
                    <a href="widgets.html#" class="minimize" style="display: none;">Minimize</a>
                </div>
                <div class="panel-body">
                     <div id="progress1">
                        <div class="pbar"></div>
                        <span class="percent1"></span>
                        <div class="elapsed"></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
         </div>

         <div class="col-lg-4">

            
         </div>


        <!-- End .span4 -->

    </div><!-- End .row -->

    
</div>
<script>
  minutes_travel = <%- minutes_travel %>;
</script>