<div class="contentwrapper"><!--Content wrapper-->
     <div class="heading">

        <h3>Selecione seu banco</h3>                    

        <div class="resBtnSearch">
            <a href="#"><span class="icon16 icomoon-icon-search-3"></span></a>
        </div>

        <!-- End search -->
        
        <ul class="breadcrumb">
            <li>Você está:</li>
            <li>
                <a href="#" class="tip" oldtitle="back to dashboard" title="" data-hasqtip="true">
                    <span class="icon16  icomoon-icon-home"></span>
                </a> 
                <span class="divider">
                    <span class="icon16 icomoon-icon-arrow-right-3"></span>
                </span>
            </li>
            <li class="active">Em algum banco</li>
        </ul>

    </div>          
    <!-- Build page from here: -->
    <div class="row">
         
        <%- partial('partials/objetivo') %>

        <div class="col-lg-8">

        <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>
                        <span class="icon16   icomoon-icon-bubble-4"></span>
                        <span>Abertura de conta</span>
                    </h4>
                    <a href="widgets.html#" class="minimize" style="display: none;">Minimize</a>
                </div>
                <div class="panel-body">
                   - Comece roubando pequenos comércios  sem sistema de segurança como padaria, bancas e docerias.
                </div>
            </div>
         </div>


        <!-- End .span4 -->

    </div><!-- End .row -->

    
</div>