<div class="contentwrapper"><!--Content wrapper-->
                
    <!-- Build page from here: -->
    <div class="row">
         <div class="col-lg-4">
         </div>
        <div class="col-lg-4">
            <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4>
                            <span class="icon16  icomoon-icon-gun"></span>
                            <span>Comece a Roubar :-)</span>
                        </h4>

                    </div>
                    <div class="panel-body">
                        <p><a href="/auth/facebook" class="btn btn-primary"><i class="icon16  icomoon-icon-facebook-3 white"></i>Conectar com Facebook</a></p>
                        <p><a href="/auth/google" class="btn btn-info"><i class="icon16   icomoon-icon-google white"></i>Conectar com Google &nbsp&nbsp</a></p>
                    </div>

                </div>
        </div><!-- End .span8 -->

        <div class="col-lg-4">
         </div>

        <!-- End .span4 -->

    </div><!-- End .row -->

    
</div>